.header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform .3s ease;
  contain: size layout style;
  padding: 0 20px;
}

.body{
    margin-top: 80px;
}

.logo {
    width: 65px;
    padding: 10px;
}

.nav-items {
    margin: auto 0;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav-items > ul > li > a {
    margin-right: 60px;
    color: #3d4152;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    text-decoration: none !important;
}

.nav-items > ul > li > a:hover {
    color: #fc8019;
}

.res-container{
    width: 1110px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    min-height: 350px;
}

.res-card{    
    width: 200px;
    padding: 20px 20px 20px;
    margin: 15px;
    border: 1px solid #fff;
    min-height: 260px !important;
}

.res-card:hover{
    border-color: #d3d5df;
    box-shadow: 0px 4px 7px 0 rgba(218,220,230,.6);
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-fallback-image{
    width: 200px;
    height: 130px;
}

.filter-btn{
    margin: 10px;
}

.res-cusine{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.res-name{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
    margin-top: 14px;
}

.res-rating-cost-deltime{
    align-items: center;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

.footer{
    padding: 0 20px;
    z-index: 10;
    background-color: #000;
    min-height: 180px;
    width: 100%;
    color: #fff;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.fill-logo{
    fill: #fff;
    width: 142px;
}

.copy-rigth-text{
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    letter-spacing: -.6px;
}

.social-media-logo{
    margin-left: 30px;
    display: inline-block;
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    will-change: transform;
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
}

.footer-line{
    border-bottom: 1px solid #4d4d4d;
}

.footer-section{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 76px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.footer-sub-section{
    display: flex;
    padding-top: 25px;
}

.search-container{
    justify-content: center;
    display: flex;
    padding-top: 48px;
    padding-bottom: 24px;
}

.search-box{
    width: 700px;
    border: 1px solid #282c3f4d;
    border-radius: 3px;
    height: 48px;
    position: relative;
}

.search-input{
    font-size: 1.15rem;
    line-height: 24px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    color: inherit;
    background: inherit;
    vertical-align: middle;
    font-weight: 500;
    padding-left: 16px;
}

.search-btn {
    margin-left: 20px;
    padding: 11px 20px;
    text-transform: uppercase;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;    
    border: 0;
    outline: 0;
    text-align: center;
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.2,1,.2,1);
}

.clear-search-btn{
    position: absolute;
    top: 12px;
    right: 20px;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
    text-align: center;
    border-radius: 25%;
    width: 25px;
    height: 25px;
}

.loader-section{
    padding-top: 76px;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.loader-items{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: start;
}

.container {
    width: 1110px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 400px;
    margin-top: 120px;
    text-align: center;
}

a {
    text-decoration:none;
    color:#000000;
 }

 .rest-container{
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
    margin-top: 80px;
 }

 .restHeader-container{
    margin: 0 16px;
 }

 .restHeader-wrapper{
    padding-top: 16px;
 }

 .restHeader-marginBottom {
    margin-bottom: 18px;
}

.restNameAddress-wrapper {
    display: inline-block;
    margin-right: 16px;
    width: calc(100% - 120px);
}

.restNameAddress-name {
    font-size: 1.43rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.restNameAddress-cuisines {
    font-size: .93rem;
    color: #7e808c;
    height: calc(.93rem + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.restNameAddress-areaWrapper {
    display: flex;
    align-items: center;
    height: 16px;
}

.restNameAddress-area {
    font-size: .93rem;
    color: #7e808c;
}

.restNameAddress-lastMile {
    font-size: .93rem;
    color: #7e808c;
}

.restNameAddress-lastMile::before{
    content: ",";
    margin-right: 4px;
}


.restMessage-wrapper {
    color: #7e808c;
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
}

.restMessage-icon {
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

.restMessage-text {
    flex-grow: 1;
}

.restHeader-dottedSeparator {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

.restHeader-marginBottom {
    margin-bottom: 18px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

div > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.position-relative{
    position: relative;
}

.main-menu-container {
    position: relative;
    margin: 24px 8px 16px 16px;
}

.group-menu-header-main {
    margin-bottom: 24px;
}

.group-menu-header {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    font-size: 1.15rem;
}

.group-headerNestedTitle {
    color: #3e4152;
    font-weight: 800;
    font-size: 1.3rem;
    display: inline-block;
    color: #3e4152;
    font-size: 1rem;
    font-weight: 800;
    display: inline-block;
    margin: 0;
}

div > button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: left;
}

.mx {
    margin: auto 0;
}

.dish-container{
    padding-bottom: 14px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.details-container{
    max-width: calc(100% - 144px);
}

.items-image-container{
    position: relative;
    margin-left: 16px;
    min-width: 118px;
    height: 120px;
    font-size: 0;
}

.no-item-image{
    height: 63px !important;  
}

.item-icon{
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    line-height: 1.2;
    width: 20px;
    height: 20px;
}

.icon-veg{
    color: #0f8a65;
}

.icon-non-veg{
    color: #e43b4f;
    font-size: .8rem;
}

.item-name-container{
    margin-top: 4px;
}

.item-name-text{
    margin-right: 4px;
    font-size: 1.02rem;
    font-weight: 500;
    color: #3e4152;
    word-break: break-word;
    margin: 0 4px 0 0;
}

.item-portion-container{
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}

.item-price{
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
    font-size: 1.05rem;
}

.image-item{
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
    background: rgb(246, 230, 233);
}


.item-add-button{
    z-index: 1;
    width: 96px;
    min-height: 32px;
    border-radius: 4px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 8px #e9e9eb;
}

.item-add-button-inner{
    display: inline-block;
    border: 1px solid #d4d5d9;
    color: #60b246;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}

.add-button-text{
    color: #60b246;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

button > img {
    border-style: none;
}

.dish-divider{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 20px 0;
    margin-top: 6px;
}

.group-menu-show {
    display: block;
}

.group-menu-hide {
    display: none;
}

.main-menu-border{
    border-bottom: 16px solid #f1f1f6;
}

.restLicence-wrapper{
    padding: 0 16px 16px;
    background-color: #f1f1f6;
    font-size: .93rem;
    color: #93959f;
}

.restLicence-licence{
    display: flex;
    align-items: center;
}

.restLicence-image{
    height: 30px;
    width: 60px;
    margin-right: 16px;   
}

.restLicence-licence-text{
    padding-top: 6px;

}

.restFooterAddress_wrapper{
    background-color: #f1f1f6;
    font-size: 1rem;
    color: #93959f;
    padding: 0 16px 120px;
}

.restFooterAddress_name{
    font-weight: 600;
    border-top: 1px solid #a9abb2;
    padding-top: 16px;
    text-transform: capitalize;
}

.restFooterAddress_address{
    display: flex;
    font-size: .86rem;
    margin-top: 12px;
    color: #a9abb2;
}

.restaurantFooterAddress_icon {
    margin-right: 8px;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: none;
    outline: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.font-weight-300{
 font-weight: 300;
}

.insta-section{
    border: 1px solid;
    margin: 15px;
    padding: 15px;
    text-align: left;
}

.food-item-container{
    margin: 0 -16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px!important;
    padding-right: 16px!important;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 500px;
}

.d-flex-align-center{
    display: flex;
    align-items: center;
    width: 100%;
}

.d-flex{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

.food-item-text{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 14px;
}

.w-150{
    width: 150px;
}

.d-flex-center-right{
    float: right;
    display: flex;
    align-items: center;
}

.add-btn{
    height: 30px;
    border: 1px solid #d4d5d9;
    color: #60b246;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    background-color: #fff;
    width: 70px!important;
    font-size: 12px!important;
    display: block!important;
}

.add-btn-text{
    animation: _1yY_v .2s ease;
    opacity: 0;
    transform: translate3d(0,7.5px,0);
    color: #60b246;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none!important;
}

.add-btn-plus{
    position: absolute;
    right: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
}


.add-btn-minus{
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

.add-btn-minus:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background-color: #bebfc5;
    position: relative;
    top: -6px;
}

.add-btn-counter{
    position: absolute;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
}

.add-btn-price{
    font-size: 13px;
    color: #535665;
    text-align: right;
    width: 60px;
}

.cart-resto-image{
    width: 50px;
    height: 50px;
    position: relative;
}

.cart-resto-image:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(40,44,63,.05);
    content: "";
    background-blend-mode: overlay;
}

.cart-resto-image img {
    transition: opacity .3s ease-out;
    opacity: 1!important;
    border-style: none;
}

.cart-resto-name-loc{
    margin-left: 14px;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    min-height: 50px;
}

.cart-resto-name-loc:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #282c3f;
    width: 40px;
    height: 2px;
}

.cart-resto-name{
    font-size: 17px;
    color: #282c3f;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-resto-location{
    font-size: 13px;
    color: #686b78;
}

.cart-resto-btn{
    cursor: pointer;
    padding: 20px 30px;
    background: #fff;
    display: flex;
}

.cart-resto-container{
    contain: content;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.food-resto-conatiner{
    padding: 16px;
    margin: 16px;
}

.empty-cart-text{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #535665;
}

.cart-counter{
    width: 20px;
    height: 20px;
    border-radius: 25%;
    position: absolute;
    left: 40px;
    background: #fc8019;
    text-align: center;
    color: #fff;
}